/* Other rules */

/* GENERAL */

.app {
  font-family: "roboto", sans-serif;
  background-color: rgb(51, 51, 71);
}

.loader {
  height: calc(100vh - 100px);
  padding-left: 200px;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.fav-icons {
  color: #ee1620;
  font-size: 20px;
}

.fav-icons:hover {
  cursor: pointer;
}

/* HEADER */

header {
  box-sizing: border-box;
}

header div:first-child {
}

.marvel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ee1620;
  width: 100%;
  border: solid black 2px;
}

header div:first-child img {
  width: 30%;
}
header div:last-child {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-characters {
  text-decoration: none;
  background-color: #ee1620;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  width: 213px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  border: black solid 2px;
}
.link-characters:active {
  transform: scale(0.98);
}

.link-comics {
  text-decoration: none;
  background-color: #ee1620;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  width: 213px;
  text-align: center;

  line-height: 20px;
  font-weight: bold;
  border: black solid 2px;
}
.link-comics:active {
  transform: scale(0.98);
}

.link-favorits {
  text-decoration: none;
  background-color: #ee1620;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  width: 213px;
  text-align: center;

  line-height: 20px;
  font-weight: bold;
  border: black solid 2px;
}
.link-favorits:active {
  transform: scale(0.98);
}
/* PAGE PERSONNAGES AND COMICS */

.input-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.input-search {
  width: 50%;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  border: solid black 2px;
  outline: none;
}
.input-search:focus {
  border: solid red 2px;
}

.fiches-hero,
.fiches-comics {
  display: flex;
  flex-wrap: wrap;
}

.fiches-hero > div:not(:nth-child(4n)),
.fiches-comics > div:not(:nth-child(4n)) {
  margin-right: 20px;
}

/* FICHE HERO AND COMICS */

.hero-fiche,
.comics-fiche {
  height: 650px;
  width: calc(25% - ((3 * 20px) / 4));
  margin-bottom: 30px;
  border: solid black 1px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: wheat;
  border: solid black 2px;
  overflow: scroll;
  /* padding-bottom: 10px; */
}

.hero-fiche:hover,
.comics-fiche:hover {
  cursor: pointer;
}

.hero-infos,
.comics-infos {
  height: 93%;
}

.img-hero-container,
.img-comics-container {
  height: 70%;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.img-hero-container img,
.img-comics-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heart-div {
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  /* border-bottom: solid black 2px; */
}

.link-hero {
  text-decoration: none;
  color: black;
}
.name-hero,
.name-comics {
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.description-hero,
.description-comics {
  text-align: justify;
  margin-top: 10px;
  padding: 0 10px;
  /* vertical-align: bottom; */
  /* border: #ee1620 solid 1px; */
  /* overflow: scroll; */
  /* height: 20%; */
}

.description-container {
  height: 25%;
}

/* PAGE PERSONNAGE */

.personnage-informations {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.personnage-informations img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.img-perso-container {
  height: 1000px;
}

.personnage-name {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.personnage-description {
  margin-top: 30px;
  width: 75%;
  font-size: 20px;
  text-align: justify;
}

.paragraphe {
  margin-top: 40px;
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 20px;
}
.paragraphe span {
  font-weight: bold;
}

/* PAGE FAVORIS */

.favoris-p {
  margin: 40px 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.favoris-p-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favoris-p-a a {
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
}

.the-page {
  background-color: red;
  border: solid black 2px;
  border-radius: 5px;
}

.active-pages {
  background-color: #edd688;
  border: solid black 2px;
  border-radius: 5px;
}

footer span {
  color: #fff;
  font-size: 20px;
}

.active-pages:hover {
  cursor: pointer;
}
